* {
	box-sizing: border-box;	
	text-shadow: 2px black;
}

body {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	min-height: 100vh;
	background-color: black;
	color: white;
	background-image: url(images/main-background.jpg);
	backdrop-filter: blur(10px);


}

.main-body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;

}

a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

/* Header Section */

.header-section {
	display: flex;
	justify-content: space-between;
	padding: 32px;
	min-height: 50px;
}

.header-logo {
	font-size: 24px;
	font-weight: 900;
}

.nav-links {
	display: flex;
	gap: 16px;
}

/* Hero Section */

.hero-section {
	display: flex;
	padding: 32px;
	height: 100vh;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
}

.hero-content {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 550px;
}

.hero-title {
	display: flex;
	font-size: 48px;
	font-weight: 900;
}

.hero-description {
	font-style: italic;
}

.hero-cta-button {
		min-height:  40px;
	max-width: 100px;
	border-radius: 8px;
	flex-shrink: 0;
}

.hero-image {
	display: flex;
	height: 400px;
	width: 900px;
	overflow: hidden;
}

.hero-image img {
	width: 688px;
}

/* Info Section */

.info-section {
	display: flex;
	flex-direction: column;
	border: 1px solid grey;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 72px;
	gap: 32px;
	
}

.info-heading {
	display: flex;
	justify-content: center;
	font-size: 32px;
	font-weight: 800;
}

.info-body {
	display: flex;
	gap: 32px;
}

.info-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
	width: 400px;
	height: 500px;
	padding: 16px;
	gap: 16px;
	
}
.info-image img {
	flex-shrink: 0;
	width: 388px;
	height: 288px;
	border-radius: 10px;
	object-fit: fill;
}
.info-image {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 5px solid white;
	border-radius: 10px;
	width: 393px;
	height: 293px;
	
}

.info-title {
	text-align: center;
	font-size: 25px;
	font-weight: 800;
}

.info-description {
	font-size: 18px;
	text-align: center;
}

/* Quote Section  */

.quote-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 1000px;
	
}

.quote-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px;
}

.quote-text {
	font-size: 36px;
	font-weight: 300;
	max-width: 800px;
}

.quote-author {
	font-size: 20px;
	align-self: flex-end;
	font-weight: bold;
}

/* CTA Section  */

.cta-section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	padding: 72px;
	
}

.cta-container {
	display: flex;
	align-items: center;
	min-width: 1100px;
	justify-content: space-around;
	padding: 32px;
	
}

.cta-heading {
	font-size: 32px;
	font-weight: 700;
}

.cta-description {
	font-size: 24px;
	max-width: 600px;
}

.cta-button {
	min-height:  40px;
	min-width: 100px;
	border-radius: 8px;
	flex-shrink: 0;
}

/* Footer Section  */

.footer-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px;
	gap: 16px;
	
}
